*{
  padding: 0;
  margin: 0;
}

.button{
  font-family: 'Karla';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 58px;
  background-color: #f4ce14;
  color: #333333;
  text-decoration: none;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 900;
}

.header {
  height: 5vw;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) minmax(300px, 2fr));
  grid-template-rows: 1fr;
  margin: 0 20%;
}

.item1 img{
  max-width: 50%;
  height: auto;

}
.item1{
  justify-content: flex-start;
}

.item {
  display:flex;
  align-items: center;
}
.item2{
  display: flex;
  max-width: 100%;
}

.item2 ul {
  display:flex;
  list-style: none;
}

.item1 img{
  max-width: 50%;
  height: auto;

}
.item1{
  justify-content: flex-start;
}

.item {
  display:flex;
  align-items: center;
}
.item2{
  display: flex;
  max-width: 100%;
}

.item2 ul {
  display:flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
.item2 ul li a{
  font-family: 'Karla';
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: 900;
}




.hero {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: 100%;
  Padding: 1% 20%;
  margin-top: 1%;
  background-color: #495E57;
  max-height: 350px;
}

.hero .hero1{
  display: inline-block;
  padding: 2% 10% 10% 0px;
  max-width: 100%;
  height: auto;
}

.hero .hero1 h1{
  max-width: 320px;
  max-height: 64px;
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;
  color: #f4ce14;
}

.hero .hero1 h2{
  font-family: 'Markazi Text';
  margin-top: 0px;
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.hero .hero1 p{
  font-family: 'Karla';
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 5% 0% 3%;
}

.hero .hero2{
  display: flex;
  justify-content: flex-end;
  padding-top: 4%;
  max-width: 100%;
  height: auto;
}

.hero .hero2 img{
  width: 90%;
  height: 130%;
  border-radius: 16px 16px 16px 16px;
}

.highlights {
  margin: 7% 20%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 300px;
}

.highlights .high1{
  display: grid;
  grid-template-columns: 70% 30%;
}

.highlights .high1 .btnmenu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.highlights .high1 h1{
  font-family: 'Markazi Text';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 64px;
  font-weight: 700;
}

.highlights .high2{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}